<title>Acervo Digital</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<style>
    .jumbotron.header{
        background-color: rgb(48, 45, 45);
        color: white;
        background-image: linear-gradient(rgb(48, 45, 45),rgb(156, 148, 148));
    }

    #menu a{
        color:white;
        background-color: #252525;
        padding-bottom: 5px;
        margin-bottom: 5px;
        

    }
    #menu a:hover{
        color: white;
        background-color: #252525;
        border-bottom: #00ff00 solid 1px;
    }


</style>

<div class="jumbotron header text-center">
    <h1>Acervo Digital</h1>
    <p>Protegendo sua produção artística de modo confiável e seguro!</p>
</div>

<div id="menu">
    <ul class="nav ml-4 mb-4">
        <li class="nav-item">
            <a class="nav-link" href="/obra/all/">Todos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/obra/user/">Meus</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/obra/register/">Cadastrar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout/">Sair</a>
        </li>
    </ul>
</div>